@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/leaguespartan/leaguespartan-bold.eot');
    src: url('../fonts/leaguespartan/leaguespartan-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/leaguespartan/leaguespartan-bold.woff2') format('woff2'), url('../fonts/leaguespartan/leaguespartan-bold.woff') format('woff'), url('../fonts/leaguespartan/leaguespartan-bold.ttf') format('truetype'), url('../fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*
  	Flaticon icon font: Flaticon
  	Creation date: 09/02/2021 19:01
  	*/

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon/Flaticon.eot");
    src: url("../fonts/Flaticon/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon/Flaticon.woff2") format("woff2"), url("../fonts/Flaticon/Flaticon.woff") format("woff"), url("../fonts/Flaticon/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-youtube:before {
    content: "\f100";
}

.flaticon-linkedin:before {
    content: "\f101";
}

.flaticon-instagram:before {
    content: "\f102";
}

.flaticon-event:before {
    content: "\f103";
}

.flaticon-mentor:before {
    content: "\f104";
}

.flaticon-meeting:before {
    content: "\f105";
}

.flaticon-community:before {
    content: "\f106";
}

.flaticon-facebook:before {
    content: "\f107";
}

.flaticon-whatsapp:before {
    content: "\f108";
}

.flaticon-startup:before {
    content: "\f109";
}

.flaticon-tick:before {
    content: "\f10a";
}

html,
body {
    height: 100%;
    width: 100%;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    /* background: #f9f9f9; */
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav-link,
.btn {
    font-family: "League Spartan", sans-serif;
}

.h1,
h1 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* font-style: oblique; */
}

.h2,
h2 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* font-style: oblique; */
}

.container {
    max-width: 976px;
}

ul li {
    font-size: 18px;
}

hr {
    line-height: 1px;
    height: 1px;
    font-size: 1px;
    margin: 0;
}

.main-content {
    /* padding-top: 3rem;
    padding-bottom: 3rem; */
    /* position: relative; */
}

.lead {
    font-size: 16px;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #25336e 0%, #009fda 36%, #48c4e5 81%, #9cdbf1 100%);
    opacity: 0.8;
}

.no-border {
    border: none;
}

.logo {
    height: 140px;
    margin: 1rem 0;
}

.pages-back {
    padding: 20px 0 0;
}

.pages-splash {
    color: #000;
    padding: 80px 0;
}


/* .pages-splash.page-events,
.pages-back.page-events {
    background: #fbccbe;
} */

.pages-home.page-about,
.pages-splash.page-about {
    background: #d6efff;
}

.pages-splash .content {
    max-width: 600px;
    margin: 0 auto;
}

.pages-splash h2 {
    font-weight: 700;
    font-size: 24px;
}

.pages-splash .lead {
    font-size: 22px;
}

.back-link {
    margin-bottom: 20px;
}

.back-link a {
    color: #000;
}

.back-link .back-icon {
    margin-right: 10px;
}

.nav-item {
    margin: 0 5px 0 0;
}

.navbar {
    padding: 20px 0;
}

.navbar-brand img {
    height: 40px;
}

.navbar .nav-item a.nav-link {
    color: #666666;
    position: relative;
    font-size: 16px;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    /* font-style: oblique; */
}

.navbar .nav-item a.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #666666;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar .nav-item a.nav-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(0.8);
    transform: scaleX(0.8);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

.mission-content {
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.no-margin-content {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.comingsoon-content {
    height: 40%;
}

.comingsoon-content .ml1 .letter {
    display: inline-block;
    line-height: 1em;
}

.comingsoon-content .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.offerings {
    margin: 20px 0 0px 0;
    padding: 0;
}

.offering {
    width: 100%;
}

.offering-icons {
    height: 120px;
}

.offering-icons .offering-icon {
    font-size: 60px;
    color: #333;
}

.offering-bg-icon {
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 0 auto;
    border-radius: 6px;
    padding-top: 10px;
    border: 1px solid #eee;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 15%);
    background: #fff;
}

.offering-wrapper {
    margin: 0 auto 20px;
}

.offering-name {
    color: #666;
    font-size: 18px;
    padding-top: 10px;
}

.pevents {
    position: relative;
}

.pevents .card-img {
    min-height: 180px;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid #eee;
}

.pevents .card-img img {
    height: 100%;
    width: 100%;
    position: relative;
    align-self: center;
}

.pevents img:hover~.external-links,
.pevents .external-links:hover {
    display: inline-block;
}

.pevent-url:hover {
    text-decoration: none;
}

.pevent-wrapper {
    margin: 0 auto 20px;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 15%);
}

.pevent-description {
    text-align: left;
    padding: 5px 15px 10px 15px;
}

.pevent-description .pevent-title {
    padding-top: 10px;
    margin: 0;
    font-size: 16px;
    padding-bottom: 2px;
    font-weight: 700;
    color: #000;
}

.pevent-description .pevent-subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 2px;
}

.pevent-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pevent-ul li {
    display: inline-block;
}

.pevent-company {
    height: 30px;
    margin-right: 10px;
}

.statements {
    position: relative;
}

.statement-wrapper {
    margin: 0 auto 40px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 15%);
    border: 1px solid #eee;
    border-radius: 6px;
    height: 210px;
    background: #fff;
}

.statement-description {
    text-align: left;
    padding: 20px;
}

.statement-description .statement-title {
    padding-top: 10px;
    margin: 0;
    font-size: 16px;
    padding-bottom: 15px;
    font-weight: 700;
    color: #000;
}

.statement-description .statement-subtitle {
    font-size: 20px;
    color: #666;
    margin-bottom: 0px i !important;
    padding-bottom: 0;
}

.memberships {
    position: relative;
}

.membership-url:hover {
    text-decoration: none;
}

.membership-wrapper {
    margin: 0 auto 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 15%);
    background: #333;
}

.membership-description {
    text-align: left;
    padding: 20px;
}

.membership-description .membership-pricing {
    margin: 0;
    font-size: 100px;
    padding-bottom: 2px;
    color: #EBC674;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -15px;
    margin-right: 15px;
}

.membership-description .membership-title {
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.membership-description .membership-subtitle {
    font-size: 20px;
    color: #FFF;
    margin: 15px 0;
}

.membership-ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 30px 10px;
    color: #EBC674;
}

.membership-ul li {
    margin: 0 0 5px 0;
}

.membership-company {
    height: 30px;
    margin-right: 10px;
}

.membership-tick {
    font-size: 14px;
    margin-right: 5px;
    color: #EBC674;
}

.membership-access {
    font-size: 16px;
}

.payments {
    margin: 20px 0 50px 0;
    padding: 0;
}

.payment {
    width: 100%;
}

.payment-option {
    border-right: 1px solid #eee;
}

.payment-option-noborder {
    border-right: none;
}

.payment-ul:last-child {
    border-right: none;
}

.payment-wrapper {
    margin: 0 auto 20px;
}

.payment-name {
    height: 40px;
}

.payment-ul {
    margin: 0;
    padding: 20px 0 0 20px;
}

.payment-ul li {
    font-size: 16px;
    margin-top: 15px;
}

.payment-ul li a {
    border-bottom: 1px dashed #333;
    color: #333;
}

.payment-ul li a:hover {
    text-decoration: none;
    border-bottom: 1px solid #333;
    color: #333;
}

.companies {
    margin: 20px 0 50px 0;
    padding: 0;
}

.company {
    width: 100%;
}

.company-icons {
    height: 50px;
}

.company-wrapper {
    margin: 0 auto 20px;
    padding-bottom: 30px !important;
}

.company-name {
    height: 40px;
}

.officers {
    position: relative;
}

.officers img {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 4px;
}

.officers img:hover~.external-links,
.officers .external-links:hover {
    display: inline-block;
}

.officer-wrapper {
    margin: 0 auto 20px;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 15%);
    border-radius: 4px;
}

.officer-description {
    position: absolute;
    bottom: -20px;
    left: 14px;
    color: #fff;
    text-align: left;
}

.officer-black-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 4px;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
}

.officer-description .font-weight-bold {
    padding-top: 10px;
    margin: 0;
    font-size: 18px;
}

.officer-description .position {
    font-size: 16px;
    padding-bottom: 10px;
}

.external-links a {
    color: inherit;
}

.external-links a:hover {
    opacity: 0.8;
}

.previous-next-event {
    margin-top: 30px;
}

.next-event,
.previous-event {
    /* background: #fbccbe; */
    padding: 1rem 0;
}

.next-event {
    /* background: #fdab93; */
}

.next-event h2,
.previous-event h2 {
    font-size: 20px;
}

.next-event a,
.previous-event a {
    color: #000;
    text-decoration: underline;
}

.event-details {
    border: 1px solid #eee;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 5%);
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 30px;
    background: #fff;
}

.event-details.yellow {
    background: #f9e9b1;
}

.event-details.blue {
    background: #b6e1f3;
}

.event-details.green {
    background: #c8de72;
}

.event-time,
.event-time ul li {
    font-size: 14px !important;
    color: #666;
}

.event-activity-name {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin-bottom: 0px;
}

.event-name {
    font-weight: 700;
    color: #000;
}

.event-btn {
    font-size: 14px;
    height: 64px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 15%);
    margin-top: 15px;
}

.event-speaker {
    color: #000;
    text-decoration: underline;
}

.underlined {
    text-decoration: underline;
}

.event-iframe {
    box-shadow: 0px 2px 7px rgb(0 0 0 / 15%);
    border-radius: 4px;
}

.event-speaker-name {
    font-weight: bold;
    font-size: 1rem;
}

.speaker-details {
    margin: 0 0 20px 0;
    padding: 0 !important;
    /* border: 1px solid #eee;? */
    /* box-shadow: 0px 1px 1px rgb(0 0 0 / 15%); */
    padding: 15px;
    border-radius: 4px;
    text-align: left;
}

.espeaker-details {
    margin: 0 0 20px 0;
    padding: 0;
    border: 1px solid #eee;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 15%);
    padding: 15px;
    border-radius: 4px;
    text-align: left;
    background: #fff;
}

.speaker-img {
    padding: 0;
}

.speaker-img img {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 4px;
}

.speaker-img-wrapper {
    width: 100px;
}

.speaker-company {
    height: 40px;
}

.speaker-name * {
    padding-top: 0.25em;
    margin: 0;
    font-size: 16px;
}

.speaker-name .position {
    font-size: 14px;
    color: #666;
}

.event-activity-description {
    font-size: 1rem;
}

.event-description {
    padding-left: 15px;
    margin: 0;
}

.event-description li {
    font-size: 16px;
    color: #666;
}

.contact-social-links {
    margin-top: 50px;
}

.contact-social-links a i {
    font-size: 40px !important;
    margin-right: 4px;
}

.contact-social-links a:hover i {
    color: #000;
}

.sticky .header {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 1 !important;
    box-shadow: 0 1.5px 3.5px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.14);
}

.header.blue {
    /* background: #d6efff; */
}

.header.red {
    background: #fbccbe;
}


/*Bg Containers*/

.light-bg-container {
    position: relative;
    width: 100%;
}

.light-bg-container .light-bg {
    z-index: 0;
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 829px;
    -webkit-filter: blur(100px);
    filter: blur(100px);
}

.light-bg-container.light-bg-3 .bg-top-right {
    right: -20%;
    top: -20%;
}

.light-bg-container.light-bg-3 .bg-mid-left {
    left: -20%;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.light-bg-container.light-bg-3 .bg-bottom-right {
    bottom: -10%;
    right: -20%;
}

.light-bg-container .bg-orange {
    background: rgba(248, 168, 95, 0.2);
}

.light-bg-container .bg-pink {
    background: rgba(0, 136, 255, 0.1);
    /* rgba(216, 102, 167, 0.1); */
}

.light-bg-container .bg-blue {
    background: rgba(0, 136, 255, 0.1);
}


/*Bg Containers*/

.whatsnew-container {
    position: relative;
}

.whatsnew-img-container {
    top: 0%;
    left: 10%;
    position: absolute;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: -70px;
}

.whatsnew-image {
    vertical-align: middle;
    border-style: none;
}

.abstract-container {
    position: absolute;
    z-index: -1;
    top: 1.5rem;
    right: 60%;
    display: block;
    width: 100%;
    max-width: 1500px;
    height: 100%;
}

.abstract-image {
    max-width: 100%;
    height: 100%;
    min-height: 1000px;
}

.footer {
    /* border-top: 1px solid #eee; */
    color: #000;
    padding: 20px 0;
    background: #fff;
}

.footer .lead {
    margin-bottom: 5px;
}

.social-links a {
    text-decoration: none;
    color: #666666;
    font-size: 24px;
    margin-right: 10px;
}

.social-links a:hover i {
    color: #000;
}

.btn-margin {
    margin: 20px 0;
}

.btn {
    display: flex !important;
    border-radius: 4px;
}

.btn-margin .btn {
    padding: 15px 30px;
    font-size: 18px;
    margin: 0px 5px !important;
}

.btn-dark {
    border: solid 1.5px #000;
    color: #fff !important;
    background: #000;
    box-shadow: 0 1.5px 3.5px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.14);
}

.btn-dark-light {
    border: solid 1.5px #000;
    color: #000;
    background: transparent;
    box-shadow: 0 1.5px 3.5px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.14);
}

.btn-new-gradient {
    /* background-image: linear-gradient(to right, #69BE28, #E98300);
    linear-gradient(90deg,
    #154734 0,
    #e87500); */
    background: #000;
    border: none;
    box-shadow: 0 1.5px 3.5px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.14);
    color: #fff;
}

.btn-new-gradient:hover {
    color: #fff;
}

.btn-gradient {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s ease;
    background: linear-gradient(135deg, #009fda 0%, #48c4e5 100%);
    font-weight: 700;
    box-shadow: 0 1.5px 3.5px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.14);
}

.btn-gradient:hover {
    box-shadow: 0 2.5px 4.5px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.24);
    color: #ffffff;
}

.btn-outline-light:hover {
    color: grey;
    background-color: #ffffff;
    border-color: #ffffff;
}

.new-registrations {
    background-color: #ffe89c;
    border-color: #fff3cd;
    color: #000;
    border: 1px solid transparent;
    padding: 80px 20px 30px;
}

.new-registrations .lead {
    display: block;
    padding: 10px 0 0;
}

.alert-color-yellow {
    background-color: #ffe89c;
    border-color: #fff3cd;
    color: #000;
    border: 1px solid transparent;
}

.alert-color-red {
    color: #000;
    background-color: #ffcdcd;
    border-color: #ffcdcd;
    border: 1px solid transparent;
}

.alert-contents {
    display: block;
    padding: 10px;
    text-align: center;
}

.grey-dot-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 256px;
    height: 200px;
    background: #fff;
    background-image: radial-gradient(#5BC6E8 15%, transparent 0), radial-gradient(#5BC6E8 15%, transparent 0);
    background-size: 25px 25px;
}

.all-events-btn {
    justify-content: center;
}

.fact-numbers {
    position: relative;
    /* background: #7e7e7e; */
    margin-bottom: 0px !important;
    padding: 0;
}

.facts {
    margin: 20px 0 50px;
    /* color: #fff; */
    /* text-transform: uppercase; */
    /* font-style: italic; */
}

.fact {
    padding-bottom: 20px;
}

.facts .value {
    font-weight: 600;
    font-size: 60px;
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    /* font-style: oblique; */
    color: #000;
    margin-bottom: 0;
}

.facts .lead {
    font-weight: 300;
    font-size: 18px;
    color: #666;
}

@media (max-width: 700px) {
    .mobile--hidden {
        display: none;
    }
    .navbar-brand img {
        height: 30px;
    }
    .payment-option {
        border-right: none;
        border: 1px solid #eee;
        border-radius: 4px;
        padding: 20px;
        margin-bottom: 20px;
    }
    .officer-wrapper {
        width: 100%;
    }
    .pages-splash {
        padding: 50px 0px;
    }
    .h1,
    h1 {
        font-size: 20px;
    }
    .pages-splash .lead {
        font-size: 18px;
    }
    .contact-social-links i.fas,
    .contact-social-links i.fab,
    .contact-social-links i.fa {
        font-size: 40px !important;
    }
    .navbar {
        padding: 5px 0;
    }
    .abstract-container {
        position: absolute;
        z-index: -1;
        top: 100px;
        right: 0;
        display: block;
        width: 1000px;
        height: 100%;
        max-width: 2000px;
    }
    .whatsnew-img-container {
        left: 50%;
    }
}

.no-bullet{
    list-style-type: none;
}

.media-scroller {
    overflow: hidden;
    position: relative;
    --spacer: 1rem;
    display: grid;
    gap: var( --spacer);
    grid-auto-flow: column;
    grid-auto-columns: 30;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding: 0 var(--spacer) var(--spacer);
    box-shadow: var(--shadow-2);
}
.media-scroller .media-element{
    height: 100%;
    width: 100%;
}
.media-scroller .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid black;
    height: 45px;
    cursor: pointer;

}
.slide span{
    font-size: 35px;
    color:black;
    line-height: 41px;

}
.media-scroller .right{
    right:0;
}
.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--spacer);
}

.snaps-inline > * {
    scroll-snap-align: start;
}

.media-element {
    height: 400px;
    width:700px;
    padding:var( --spacer);
    gap: var(--spacer);
    display: grid;
    grid-template-rows: min-content;
    background: var(--spacer);
    border-radius: var(--spacer);
}

.media-element img{
    height: 100%;
    width: 100%;
}


/* .media-element >img {
    inline-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}  */

.flex-container {
    display: flex;
}

.flex-child {
    flex:1;
}

.flex-child:first-child{
    margin-right: 20px;
}


/* slider start */
.wrapper{
    /* max-width: 1100px; */
    height: 100%;
    width:100%;

}
.wrapper i{
   height: 50px;
   width: 50px;
   background: black;
   text-align: center;
   line-height: 50px;
   border-radius: 50%; 
   cursor: pointer;
   position:absolute;
   top:50%;
   transform: translateY(-50%);
   box-shadow: 0 3px 6px rgba(0,0,0,0.23);

}
.wrapper i:first-child{
    left:-22px;
}
.wrapper i:last-child{
        right:-22px;
    }
.wrapper .carousel{
    display:grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/3)-12px);
    gap: 16px;
    /* overflow: hidden; */

}
.carousel :where(.card, .img){
    display:flex;

}
.carousel .card{
    list-style: none;
    background: #fff;
    border-radius: 8px;
    height: 100%;
    width:100%;
    display: flex;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}
/* .card .img{
    background: black;
    width:140px;
    height:140px;
    object-fit: cover;
    border-radius: 50%;
} */

.card img{
    background: black;
    
    object-fit: cover;
    /* border-radius: 50%; */
    width:100%;
    height:100%;
    object-fit:fill;
    /* border-radius: 50%; */

}
.card span{
    color: #6a6d78;
    font-size: 1.31rem;
}
@media screen and (max-width: 900px){
    .wrapper .carousel{
        grid-auto-columns: calc((100%/3)-9px);
    }
}

@media screen and (max-width: 600px){
    .wrapper .carousel{
        grid-auto-columns: 100%;
    }
}

/* script */
