@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/leaguespartan/leaguespartan-bold.eot');
    src: url('../fonts/leaguespartan/leaguespartan-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/leaguespartan/leaguespartan-bold.woff2') format('woff2'), url('../fonts/leaguespartan/leaguespartan-bold.woff') format('woff'), url('../fonts/leaguespartan/leaguespartan-bold.ttf') format('truetype'), url('../fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}


/*
  	Flaticon icon font: Flaticon
  	Creation date: 09/02/2021 19:01
  	*/

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon/Flaticon.eot");
    src: url("../fonts/Flaticon/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon/Flaticon.woff2") format("woff2"), url("../fonts/Flaticon/Flaticon.woff") format("woff"), url("../fonts/Flaticon/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-youtube:before {
    content: "\f100";
}

.flaticon-linkedin:before {
    content: "\f101";
}

.flaticon-instagram:before {
    content: "\f102";
}

.flaticon-event:before {
    content: "\f103";
}

.flaticon-mentor:before {
    content: "\f104";
}

.flaticon-meeting:before {
    content: "\f105";
}

.flaticon-community:before {
    content: "\f106";
}

.flaticon-facebook:before {
    content: "\f107";
}

.flaticon-whatsapp:before {
    content: "\f108";
}

.flaticon-startup:before {
    content: "\f109";
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    /* background: #f9f9f9; */
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav-link,
.btn {
    font-family: "League Spartan", sans-serif;
}

.h1,
h1 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* font-style: oblique; */
}

.h2,
h2 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* font-style: oblique; */
}

.container {
    max-width: 976px;
}

ul li {
    font-size: 18px;
}

hr {
    line-height: 1px;
    height: 1px;
    font-size: 1px;
    margin: 0;
}

.main-content {
    /* padding-top: 3rem;
    padding-bottom: 3rem; */
    /* position: relative; */
}

.lead {
    font-size: 16px;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #25336e 0%, #009fda 36%, #48c4e5 81%, #9cdbf1 100%);
    opacity: 0.8;
}

.no-border {
    border: none;
}

.logo {
    height: 140px;
    margin: 1rem 0;
}

.pages-back {
    padding: 20px 0 0;
}

.pages-splash {
    color: #000;
    padding: 50px 0;
}


/* .pages-splash.page-events,
.pages-back.page-events {
    background: #fbccbe;
} */

.pages-home.page-about,
.pages-splash.page-about {
    background: #d6efff;
}

.pages-splash .content {
    max-width: 600px;
    margin: 0 auto;
}

.pages-splash h2 {
    font-weight: 700;
    font-size: 24px;
}

.pages-splash .lead {
    font-size: 22px;
}

.back-link {
    margin-bottom: 20px;
}

.back-link a {
    color: #000;
}

.back-link .back-icon {
    margin-right: 10px;
}

.nav-item {
    margin: 0 5px 0 0;
}

.navbar {
    padding: 20px 0;
}

.navbar-brand img {
    height: 50px;
}

.navbar .nav-item a.nav-link {
    color: #666666;
    text-transform: uppercase;
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'League Spartan', sans-serif; */
    font-weight: 300;
    /* font-style: oblique; */
}

.navbar .nav-item a.nav-link.active {
    border-bottom: 2px solid #666666;
}

.navbar .nav-item a.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #666666;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar .nav-item a.nav-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(0.8);
    transform: scaleX(0.8);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

.mission-content {
    margin-top: 4rem;
    margin-bottom: 0rem;
}

.no-margin-content {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.comingsoon-content {
    height: 40%;
}

.comingsoon-content .ml1 .letter {
    display: inline-block;
    line-height: 1em;
}

.comingsoon-content .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.offerings {
    margin: 50px 0;
}

.offering {
    width: 100%;
}

.offering-icons {
    height: 120px;
}

.offering-icons .offering-icon {
    font-size: 60px;
    color: #333;
}

.offering-bg-icon {
    background: #f1f1f1;
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    padding-top: 10px;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 15%);
}

.offering-wrapper {
    margin: 0 auto 20px;
}

.offering-name {
    color: #666;
    font-size: 18px;
    padding-top: 10px;
}

.officers {
    position: relative;
}

.officers img {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 4px;
}

.officers img:hover~.external-links,
.officers .external-links:hover {
    display: inline-block;
}

.officers .external-links {
    background: #00000066;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    padding-top: 35%;
}

.officer-wrapper {
    width: 250px;
    margin: 0 auto 20px;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 15%);
    border-radius: 4px;
}

.officer-description .font-weight-bold {
    padding-top: 10px;
    margin: 0;
    font-size: 18px;
}

.officer-description .position {
    font-size: 16px;
    color: #666;
    padding-bottom: 10px;
}

.external-links a {
    color: inherit;
}

.external-links a:hover {
    opacity: 0.8;
}

.previous-next-event {
    margin-top: 30px;
}

.next-event,
.previous-event {
    /* background: #fbccbe; */
    padding: 1rem 0;
}

.next-event {
    /* background: #fdab93; */
}

.next-event h2,
.previous-event h2 {
    font-size: 20px;
}

.next-event a,
.previous-event a {
    color: #000;
    text-decoration: underline;
}

.event-details {
    padding: 1rem 0 0;
    margin: 0 0 20px;
}

.event-details.yellow {
    background: #f9e9b1;
}

.event-details.blue {
    background: #b6e1f3;
}

.event-details.green {
    background: #c8de72;
}

.event-time,
.event-time ul li {
    font-size: 14px !important;
    color: #666;
}

.event-activity-name {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin-bottom: 0px;
}

.event-name {
    font-weight: 700;
    color: #000;
}

.event-btn {
    font-size: 14px;
    height: 64px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 15%);
}

.event-speaker {
    color: #000;
    text-decoration: underline;
}

.underlined {
    text-decoration: underline;
}

.event-iframe {
    box-shadow: 0px 2px 7px rgb(0 0 0 / 15%);
    border-radius: 4px;
}

.event-speaker-name {
    font-weight: bold;
    font-size: 1rem;
}

.speaker-details {
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 15%);
    padding: 15px;
    border-radius: 4px;
    text-align: left;
}

.speaker-img {
    padding: 0;
}

.speaker-img img {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 4px;
}

.speaker-img-wrapper {
    width: 100px;
}

.speaker-company {
    height: 40px;
}

.speaker-name * {
    padding-top: 0.25em;
    margin: 0;
    font-size: 18px;
}

.speaker-name .position {
    font-size: 16px;
    color: #666;
}

.event-activity-description {
    font-size: 1rem;
}

.event-description {
    padding-left: 15px;
}

.event-description li {
    font-size: 16px;
    color: #666;
}

.contact-social-links {
    margin-top: 50px;
}

.contact-social-links i.fas,
.contact-social-links i.fab,
.contact-social-links i.fa {
    font-size: 40px !important;
    margin-right: 4px;
}

.header {
    /* background: #fff; */
}

.header.blue {
    /* background: #d6efff; */
}

.header.red {
    background: #fbccbe;
}

.whatsnew-container {
    position: relative;
}

.whatsnew-img-container {
    top: 0%;
    left: 10%;
    position: absolute;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: -70px;
}

.whatsnew-image {
    vertical-align: middle;
    border-style: none;
}

.abstract-container {
    position: absolute;
    z-index: -1;
    top: 1.5rem;
    right: 60%;
    display: block;
    width: 100%;
    max-width: 1500px;
    height: 100%;
}

.abstract-image {
    max-width: 100%;
    height: 100%;
    min-height: 1000px;
}

.footer {
    border-top: 1px solid #eee;
    color: #000;
    padding: 20px 0;
    background: #fff;
}

.footer .lead {
    margin-bottom: 5px;
}

.social-links a {
    text-decoration: none;
    color: #666666;
    font-size: 24px;
    margin-right: 10px;
}

.social-links a:hover {
    opacity: 0.8;
}

.btn-margin {
    margin: 20px 0;
}

.btn {
    display: flex !important;
    border-radius: 4px;
}

.btn-margin .btn {
    padding: 15px 30px;
    font-size: 18px;
    margin: 0px 5px !important;
}

.btn-dark {
    border: solid 1.5px #000;
    color: #fff !important;
    background: #000;
    box-shadow: 0 1.5px 3.5px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.14);
}

.btn-dark-light {
    border: solid 1.5px #000;
    color: #000;
    background: transparent;
    box-shadow: 0 1.5px 3.5px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.14);
}

.btn-dark-light:hover {
    color: #fff;
    background: #000;
}

.btn-gradient {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s ease;
    background: linear-gradient(135deg, #009fda 0%, #48c4e5 100%);
    font-weight: 700;
    box-shadow: 0 1.5px 3.5px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.14);
}

.btn-gradient:hover {
    box-shadow: 0 2.5px 4.5px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.24);
    color: #ffffff;
}

.btn-outline-light:hover {
    color: grey;
    background-color: #ffffff;
    border-color: #ffffff;
}

.new-registrations {
    background-color: #ffe89c;
    border-color: #fff3cd;
    color: #000;
    border: 1px solid transparent;
    padding: 80px 20px 30px;
}

.new-registrations .lead {
    display: block;
    padding: 10px 0 0;
}

.alert-color-yellow {
    background-color: #ffe89c;
    border-color: #fff3cd;
    color: #000;
    border: 1px solid transparent;
}

.alert-color-red {
    color: #000;
    background-color: #ffcdcd;
    border-color: #ffcdcd;
    border: 1px solid transparent;
}

.alert-contents {
    display: block;
    padding: 10px;
    text-align: center;
}

.grey-dot-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 256px;
    height: 200px;
    background: #fff;
    background-image: radial-gradient(#5BC6E8 15%, transparent 0), radial-gradient(#5BC6E8 15%, transparent 0);
    background-size: 25px 25px;
}

.fact-numbers {
    position: relative;
    /* background: #7e7e7e; */
    margin-bottom: 0px !important;
    padding: 0;
}


/* .fact-numbers:after {
    content: '';
    position: absolute;
    background-color: #FFD954;
    height: 18px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -17px;
    left: 50%;
    -webkit-mask-image: url('data:image/svg+xml,<svg data-name="borders Image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 80.49"><path d="M0 0v43c19.4.86 38.83 1.45 58.22 1 29.51-.64 59-2.67 88.49-4.2 18.87-1 37.77-1.69 56.58-3.36 38-3.37 75.85-7.57 113.81-10.93 25-2.23 50.15-3.78 75.25-5.3 42.4-2.57 84.79-5.33 127.23-7.14 38.24-1.62 76.53-2.39 114.8-2.89 18.91-.25 37.87.5 56.76 1.62 31.42 1.87 62.8 4.32 94.19 6.67 22 1.64 44 3.18 65.89 5.37 40.73 4.07 81.39 9 122.15 12.8 38.81 3.62 77.7 6.49 116.58 9.3 25.92 1.88 51.88 3 77.83 4.58 25 1.48 50 3.18 75 4.48 34.61 1.8 69.24 3.11 103.84 5.06 21.16 1.2 42.29 3.07 63.42 4.89 15.69 1.35 31.34 3.2 47 4.66 23.48 2.19 47 4.55 70.48 6.24 24.64 1.76 49.36 2.49 74 4.3 12.45.92 24.82.06 35.58-5.49 7.38-3.81 13.9-6.3 22.27-6 11.38.37 22.83-.7 34.23-1.4 15.65-1 31.28-2.64 46.94-3.15 18.84-.6 37.71-.25 56.57-.43 3.16 0 7 1.22 9.49-3.51l-7.49-3c11.23-4.31 17.49-4.57 28.59-1.89 7.26 1.75 14.51 3 22 .9a73.59 73.59 0 0 1 15-2.63c16.11-1 32.24-1.45 48.35-2.31 9.72-.51 19.41-1.71 29.13-1.88 3.23-.06 8-3.59 10.08 2.49.13.4 2.24.74 2.83.3 9-6.76 17.93-1.65 26.45.79 7.43 2.14 14.48 3.16 22 1.49 2.55-.57 7.11-1.2 7.67-.15 3.33 6.17 8.77 3.94 13.43 4 8.1.14 17.18 2 24.06-1 9.44-4.11 18.59-5.47 28.52-5.95 18.88-.9 37.72-2.66 56.59-3.82 5.8-.35 11.66.47 17.46.12 24.32-1.44 48.62-3.36 72.95-4.62 11.77-.61 23.6-.07 35.4-.28 2.58-.05 5.64-.42 7.61-1.84 6.21-4.5 12.62-4.95 19.74-2.93s14.37 4.57 21.7 5.13c15.62 1.18 31 5.24 47 3.34 8.82-1 17.87-.3 26.81-.16 16.76.27 33.52 1.28 50.26.9 23.62-.55 47.13-.09 70.58 2.9 8.93 1.14 18.06 1 26.91 2.49a620 620 0 0 0 105.79 9c3.93 0 8-.11 11.77.7 14.11 3 28.08 1.29 42.13-.36a53 53 0 0 1 15.25.26 67.31 67.31 0 0 0 30.33-1.71 48.78 48.78 0 0 1 13.84-2.24 288.59 288.59 0 0 1 30.55 2.05c10.32 1.32 21.1-4.39 31.09 2.17 1.09.71 3.17.33 4.66-.06 15.36-4 30.75-4.32 46.49-2.1 8 1.13 16.37-.12 24.56 0a156.49 156.49 0 0 0 40.71-4.56c12.69-3.12 26.39-2.13 39.64-3.07 3.12-.23 6.19-1 9.31-1.43q11.8-1.56 23.63-3V0z"/></svg>') !important;
    mask-image: url('data:image/svg+xml,<svg data-name="borders Image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 80.49"><path d="M0 0v43c19.4.86 38.83 1.45 58.22 1 29.51-.64 59-2.67 88.49-4.2 18.87-1 37.77-1.69 56.58-3.36 38-3.37 75.85-7.57 113.81-10.93 25-2.23 50.15-3.78 75.25-5.3 42.4-2.57 84.79-5.33 127.23-7.14 38.24-1.62 76.53-2.39 114.8-2.89 18.91-.25 37.87.5 56.76 1.62 31.42 1.87 62.8 4.32 94.19 6.67 22 1.64 44 3.18 65.89 5.37 40.73 4.07 81.39 9 122.15 12.8 38.81 3.62 77.7 6.49 116.58 9.3 25.92 1.88 51.88 3 77.83 4.58 25 1.48 50 3.18 75 4.48 34.61 1.8 69.24 3.11 103.84 5.06 21.16 1.2 42.29 3.07 63.42 4.89 15.69 1.35 31.34 3.2 47 4.66 23.48 2.19 47 4.55 70.48 6.24 24.64 1.76 49.36 2.49 74 4.3 12.45.92 24.82.06 35.58-5.49 7.38-3.81 13.9-6.3 22.27-6 11.38.37 22.83-.7 34.23-1.4 15.65-1 31.28-2.64 46.94-3.15 18.84-.6 37.71-.25 56.57-.43 3.16 0 7 1.22 9.49-3.51l-7.49-3c11.23-4.31 17.49-4.57 28.59-1.89 7.26 1.75 14.51 3 22 .9a73.59 73.59 0 0 1 15-2.63c16.11-1 32.24-1.45 48.35-2.31 9.72-.51 19.41-1.71 29.13-1.88 3.23-.06 8-3.59 10.08 2.49.13.4 2.24.74 2.83.3 9-6.76 17.93-1.65 26.45.79 7.43 2.14 14.48 3.16 22 1.49 2.55-.57 7.11-1.2 7.67-.15 3.33 6.17 8.77 3.94 13.43 4 8.1.14 17.18 2 24.06-1 9.44-4.11 18.59-5.47 28.52-5.95 18.88-.9 37.72-2.66 56.59-3.82 5.8-.35 11.66.47 17.46.12 24.32-1.44 48.62-3.36 72.95-4.62 11.77-.61 23.6-.07 35.4-.28 2.58-.05 5.64-.42 7.61-1.84 6.21-4.5 12.62-4.95 19.74-2.93s14.37 4.57 21.7 5.13c15.62 1.18 31 5.24 47 3.34 8.82-1 17.87-.3 26.81-.16 16.76.27 33.52 1.28 50.26.9 23.62-.55 47.13-.09 70.58 2.9 8.93 1.14 18.06 1 26.91 2.49a620 620 0 0 0 105.79 9c3.93 0 8-.11 11.77.7 14.11 3 28.08 1.29 42.13-.36a53 53 0 0 1 15.25.26 67.31 67.31 0 0 0 30.33-1.71 48.78 48.78 0 0 1 13.84-2.24 288.59 288.59 0 0 1 30.55 2.05c10.32 1.32 21.1-4.39 31.09 2.17 1.09.71 3.17.33 4.66-.06 15.36-4 30.75-4.32 46.49-2.1 8 1.13 16.37-.12 24.56 0a156.49 156.49 0 0 0 40.71-4.56c12.69-3.12 26.39-2.13 39.64-3.07 3.12-.23 6.19-1 9.31-1.43q11.8-1.56 23.63-3V0z"/></svg>') !important;
    -webkit-mask-repeat: repeat no-repeat;
    mask-repeat: repeat no-repeat;
    width: 100%;
    z-index: -1;
} */

.facts {
    margin: 60px 0 20px;
    /* color: #fff; */
    /* text-transform: uppercase; */
    /* font-style: italic; */
}

.fact {
    padding-bottom: 20px;
    text-align: center;
}

.facts .value {
    font-weight: 600;
    font-size: 60px;
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    /* font-style: oblique; */
    color: #000;
    margin-bottom: 0;
}

.facts .lead {
    font-weight: 600;
    font-size: 14px;
    color: #666;
}

@media (max-width: 700px) {
    .pages-splash {
        padding: 50px 0px;
    }
    .h1,
    h1 {
        font-size: 20px;
    }
    .pages-splash .lead {
        font-size: 18px;
    }
    .contact-social-links i.fas,
    .contact-social-links i.fab,
    .contact-social-links i.fa {
        font-size: 40px !important;
    }
    .navbar {
        padding: 5px 0;
    }
    .abstract-container {
        position: absolute;
        z-index: -1;
        top: 100px;
        right: 0;
        display: block;
        width: 1000px;
        height: 100%;
        max-width: 2000px;
    }
    .whatsnew-img-container {
        left: 50%;
    }
}